{{ template "base" . }}

{{ define "title" }}Upcoming tournaments{{ end }}

{{ define "main" }}
  <div class="mt-4 d-flex align-items-end justify-content-between">
    <h2>🏆 Upcoming tournaments 🏆</h2>
    <a class="btn btn-outline-primary" href="/tournament"> + New </a>
  </div>
  {{ if .Tournaments }}
    <table class="table table-hover mt-4">
      <thead>
        <tr>
          <th>What?</th>
          <th>When?</th>
        </tr>
      </thead>
      <tbody>
        {{ range .Tournaments }}
          <tr>
            <td><a href="/tournament/{{ .Id }}">{{ .Title }}</a></td>
            <td>{{ humanDate .Date }}</td>
          </tr>
        {{ end }}
      </tbody>
    </table>
  {{ else }}
    <p class="mt-4">
      Looks like there are no tournaments planned at the moment 😢
    </p>
  {{ end }}
{{ end }}
