{{ template "base" . }}

{{ define "title" }}Upcoming tournaments{{ end }}

{{ define "main" }}
  <div class="row mt-3 gy-4">
    <div class="col-auto">
      <h2>🏆 Upcoming tournaments 🏆</h2>
    </div>
    <div class="col">
      <a class="btn btn-outline-primary float-end" href="/tournament">New</a>
    </div>
  </div>
  {{ if .Tournaments }}
    <table class="table table-hover mt-4">
      <thead>
        <tr>
          <th>What?</th>
          <th>When?</th>
        </tr>
      </thead>
      <tbody>
        {{ range .Tournaments }}
          <tr>
            <td><a href="/tournament/{{ .Id }}">{{ .Title }}</a></td>
            <td>{{ humanDate .DateTime }}</td>
          </tr>
        {{ end }}
      </tbody>
    </table>
  {{ else }}
    <p class="mt-4">
      Looks like there are no tournaments planned at the moment 😢
    </p>
  {{ end }}
{{ end }}
