{{ template "base" . }}

{{ define "title" }}Home{{ end }}

{{ define "main" }}
  <h2 class="mt-4">🏆 Upcoming tournaments 🏆</h2>
  {{ if .Tournaments }}
    <table class="table mt-4">
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        {{ range .Tournaments }}
          <tr>
            <td>
              <a href="/tournament/{{ .Id }}">{{ .Id }}</a>
            </td>
            <td>{{ .Name }}</td>
            <td>#{{ .Date }}</td>
          </tr>
        {{ end }}
      </tbody>
    </table>
  {{ else }}
    <p>There's nothing to see here yet!</p>
  {{ end }}
{{ end }}
